* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing: content-box; (القيمة الافتراضية)
    المحتوى يصغر تلقائيًا حتى ياخذ بعين الاعتبار الـpadding والـborder. */
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    color: #333;
}

/* Navbar */
header {
    background-color: #fff;

}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 60px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-weight: bold;
    color: pink;
    font-size: 24px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.nav-link:hover {
    background-color: #ffe6f0;
    color: pink;
}
